<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>房屋出租管理系統</title>

    <!--jquery-->
    <script src="{% static "js/jquery-3.2.0.min.js" %}"></script>
    <!-- heighchart js-->
    {#    <script src="{% static "js/highcharts.js" %}"></script>#}
    {#    <script src="{% static "js/jquery-ui.min.js" %}"></script>#}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <!-- Bootstrap core CSS -->
    {#    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


    {#    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">#}
    {#    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">#}


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<script>
    $(function () {
        var myChart = // Create the chart
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '各室電費狀態'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: '度數'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.2f}度'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },

                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: '1號',
                        y: 56.33,
                        drilldown: 'Microsoft Internet Explorer'
                    }, {
                        name: '2號',
                        y: 24.03,
                        drilldown: 'Chrome'
                    }, {
                        name: 'Firefox',
                        y: 10.38,
                        drilldown: 'Firefox'
                    }, {
                        name: 'Safari',
                        y: 4.77,
                        drilldown: 'Safari'
                    }, {
                        name: 'Opera',
                        y: 0.91,
                        drilldown: 'Opera'
                    }, {
                        name: 'Proprietary or Undetectable',
                        y: 0.2,
                        drilldown: null
                    }]
                }],
                drilldown: {
                    series: [{
                        name: 'Microsoft Internet Explorer',
                        id: 'Microsoft Internet Explorer',
                        data: [
                            [
                                'v11.0',
                                24.13
                            ],
                            [
                                'v8.0',
                                17.2
                            ],
                            [
                                'v9.0',
                                8.11
                            ],
                            [
                                'v10.0',
                                5.33
                            ],
                            [
                                'v6.0',
                                1.06
                            ],
                            [
                                'v7.0',
                                0.5
                            ]
                        ]
                    }, {
                        name: 'Chrome',
                        id: 'Chrome',
                        data: [
                            [
                                'v40.0',
                                5
                            ],
                            [
                                'v41.0',
                                4.32
                            ],
                            [
                                'v42.0',
                                3.68
                            ],
                            [
                                'v39.0',
                                2.96
                            ],
                            [
                                'v36.0',
                                2.53
                            ],
                            [
                                'v43.0',
                                1.45
                            ],
                            [
                                'v31.0',
                                1.24
                            ],
                            [
                                'v35.0',
                                0.85
                            ],
                            [
                                'v38.0',
                                0.6
                            ],
                            [
                                'v32.0',
                                0.55
                            ],
                            [
                                'v37.0',
                                0.38
                            ],
                            [
                                'v33.0',
                                0.19
                            ],
                            [
                                'v34.0',
                                0.14
                            ],
                            [
                                'v30.0',
                                0.14
                            ]
                        ]
                    }, {
                        name: 'Firefox',
                        id: 'Firefox',
                        data: [
                            [
                                'v35',
                                2.76
                            ],
                            [
                                'v36',
                                2.32
                            ],
                            [
                                'v37',
                                2.31
                            ],
                            [
                                'v34',
                                1.27
                            ],
                            [
                                'v38',
                                1.02
                            ],
                            [
                                'v31',
                                0.33
                            ],
                            [
                                'v33',
                                0.22
                            ],
                            [
                                'v32',
                                0.15
                            ]
                        ]
                    }, {
                        name: 'Safari',
                        id: 'Safari',
                        data: [
                            [
                                'v8.0',
                                2.56
                            ],
                            [
                                'v7.1',
                                0.77
                            ],
                            [
                                'v5.1',
                                0.42
                            ],
                            [
                                'v5.0',
                                0.3
                            ],
                            [
                                'v6.1',
                                0.29
                            ],
                            [
                                'v7.0',
                                0.26
                            ],
                            [
                                'v6.2',
                                0.17
                            ]
                        ]
                    }, {
                        name: 'Opera',
                        id: 'Opera',
                        data: [
                            [
                                'v12.x',
                                0.34
                            ],
                            [
                                'v28',
                                0.24
                            ],
                            [
                                'v27',
                                0.17
                            ],
                            [
                                'v29',
                                0.16
                            ]
                        ]
                    }]
                }
            });
        Highcharts.chart('container2', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Browser market shares January, 2015 to May, 2015'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Microsoft Internet Explorer',
                    y: 56.33
                }, {
                    name: 'Chrome',
                    y: 24.03,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Firefox',
                    y: 10.38
                }, {
                    name: 'Safari',
                    y: 4.77
                }, {
                    name: 'Opera',
                    y: 0.91
                }, {
                    name: 'Proprietary or Undetectable',
                    y: 0.2
                }]
            }]
        });


    });
    function removeManual(active) {
        $('#ele').removeClass('active');
        $('#info').removeClass('active');
        $(active).addClass('active');
        switch (active) {
            case '#ele':
                $('#mainFrame').attr('src', '../viewstatus/');
                break;
            case '#info':
                $('#mainFrame').attr('src', '../viewstatus/');
                break;
            default:

        }
    }
</script>
<style>
    .nav-sidebar {
        font-size: large;

    }

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        {% include 'TopBar.html' %}
    </div>
</nav>

<div class="container theme-showcase" role="main">
    <div class="row">
        <h1 class="page-header">狀態一覽</h1>
        <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
                <div id="container" style="width:100%; height:400px;"></div>
            </div>
            <div class="col-xs-12 col-sm-6 placeholder">
                <div id="container2" style="width:100%; height:400px;"></div>
            </div>
            {#                <div class="col-xs-6 col-sm-3 placeholder">#}
            {#                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="#}
            {#                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
            {#                    <h4>Label</h4>#}
            {#                    <span class="text-muted">Something else</span>#}
            {#                </div>#}
            {#                <div class="col-xs-6 col-sm-3 placeholder">#}
            {#                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="#}
            {#                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
            {#                    <h4>Label</h4>#}
            {#                    <span class="text-muted">Something else</span>#}
            {#                </div>#}
            {#                <div class="col-xs-6 col-sm-3 placeholder">#}
            {#                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="#}
            {#                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
            {#                    <h4>Label</h4>#}
            {#                    <span class="text-muted">Something else</span>#}
            {#                </div>#}
        </div>

        <h2 class="sub-header">房間資訊</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>房間名稱</th>
                    <th>承租人</th>
                    <th>合約到期日</th>
                    <th>出租狀態</th>
                    <th>繳款狀況</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.roomName }}</td>
                        <td>{{ item.userName }}</td>
                        <td>{{ item.endDate }}</td>
                        {% if item.roomStatus %}
                            <td><p style="color: forestgreen">承租中</p></td>
                        {% else %}
                            <td><p style="color: red">閒置中</p></td>
                        {% endif %}
                        <td><p style="color: red">欠費中</p></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {#        <div class="col-sm-3 col-md-2 sidebar">#}
        {#            {% include 'LeftBar.html' %}#}
        {#            <ul class="nav nav-sidebar">#}
        {#                <li><a href="">電表抄錶</a></li>#}
        {#                <li><a href="">列印電費明細</a></li>#}
        {#                <li><a href="">Another nav item</a></li>#}
        {#                <li><a href="">More navigation</a></li>#}
        {#            </ul>#}
        {#            <ul class="nav nav-sidebar">#}
        {##}
        {#                <li><a href="">承租人清單</a></li>#}
        {#                <li><a href="">Another nav item</a></li>#}
        {#            </ul>#}
        {#            <ul class="nav nav-sidebar">#}
        {#                <li><a href="">房間狀態</a></li>#}
        {#                <li><a href="">更換承租人</a></li>#}
        {#                <li><a href="">Another nav item</a></li>#}
        {#            </ul>#}
        {#        </div>#}
        {#        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">#}
        {#            <iframe id="mainFrame" src="../viewstatus/" frameborder="0" width="100%" height="680"></iframe>#}
        {#        </div>#}
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
{#    <script src="../../assets/js/vendor/holder.min.js"></script>#}
<script src="{% static "js/holder.min.js" %}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
